1178           
1179           <!-- BoBMngrRequestIndvBoBUpdate Request Type -->
1180           <ng-container
1181             *ngIf="supportRequestGovernanceType === SupportRequestGovernanceTypeEnum.BoBMngrRequestIndvBoBUpdate">
1182             <div class="row">
1183               <div class="col-sm-4 righttxt">
1184                 <label class="Input-Label">Manager Name</label>
1185               </div>
1186               <div class="col-sm-5">
1187                 <span>{{ supportGovernanceDetails?.ProviderName}}</span>
1188               </div>
1189             </div>
1190             
1191             <div class="row">
1192               <div class="col-sm-4 righttxt">
1193                 <label class="Input-Label">Provider Name</label>
1194               </div>
1195               <div class="col-sm-5">
1196                 <span>{{ supportGovernanceDetails?.ProviderName}}</span>
1197               </div>
1198             </div>
1199             
1200             <div class="row">
1201               <div class="col-sm-4 righttxt">
1202                 <label class="Input-Label">Current User</label>
1203               </div>
1204               <div class="col-sm-5">
1205                 <span>{{ supportGovernanceDetails?.CurrentUser}}</span>
1206               </div>
1207             </div>
1208             
1209             <div class="row">
1210               <div class="col-sm-4 righttxt">
1211                 <label class="Input-Label">Current Phone</label>
1212               </div>
1213               <div class="col-sm-5">
1214                 <span>{{ supportGovernanceDetails?.CurrentPhone}}</span>
1215               </div>
1216             </div>
1217             
1218             <div class="row">
1219               <div class="col-sm-4 righttxt">
1220                 <label class="Input-Label">Current Phone Ext</label>
1221               </div>
1222               <div class="col-sm-5">
1223                 <span>{{ supportGovernanceDetails?.CurrentPhoneExtension}}</span>
1224               </div>
1225             </div>
1226             
1227             <div class="row">
1228               <div class="col-sm-4 righttxt">
1229                 <label class="Input-Label">Current Fax</label>
1230               </div>
1231               <div class="col-sm-5">
1232                 <span>{{ supportGovernanceDetails?.CurrentFax}}</span>
1233               </div>
1234             </div>
1235             
1236             <div class="row">
1237               <div class="col-sm-4 righttxt">
1238                 <label class="Input-Label">New User</label>
1239               </div>
1240               <div class="col-sm-5">
1241                 <span>{{ supportGovernanceDetails?.NewUser}}</span>
1242               </div>
1243             </div>
1244             
1245             <div class="row">
1246               <div class="col-sm-4 righttxt">
1247                 <label class="Input-Label">New Phone</label>
1248               </div>
1249               <div class="col-sm-5">
1250                 <span>{{ supportGovernanceDetails?.NewPhone}}</span>
1251               </div>
1252             </div>
1253             
1254             <div class="row">
1255               <div class="col-sm-4 righttxt">
1256                 <label class="Input-Label">New Phone Ext</label>
1257               </div>
1258               <div class="col-sm-5">
1259                 <span>{{ supportGovernanceDetails?.NewPhoneExtension}}</span>
1260               </div>
1261             </div>
1262             
1263             <div class="row">
1264               <div class="col-sm-4 righttxt">
1265                 <label class="Input-Label">New Fax</label>
1266               </div>
1267               <div class="col-sm-5">
1268                 <span>{{ supportGovernanceDetails?.NewFax}}</span>
1269               </div>
1270             </div>
1271           </ng-container>
1272           
1273           <!-- Comments Field for Governance -->
1274           <div class="row">
1275             <div class="col-sm-4 righttxt">
1276               <label class="Input-Label" for="governanceComments">Comments</label>
1277             </div>
1278             <div class="col-sm-5">
1279               <textarea class="form-control input-sm" formControlName="governanceComments"
1280                 id="governanceComments" name="governanceComments" rows="4"
1281                 (input)="enableApproveDenyButtons($event)"></textarea>
1282             </div>
1283           </div>
1284         </ng-container>
1285         
1286         <!-- Action Buttons Section -->
1287         <ng-container *ngIf="isEditable === true ; else buttonNonEditable">
1288           <ng-container *ngIf="supportType === SupportTypeEnum.SupportFeedback; else buttonsForGovernance">
1289             <div class="row">
1290               <div class="col-sm-4 righttxt">
1291                 <button class="btn btn-sm btn-primary btn-danger me-2" type="button" id="btnDeny"
1292                   [disabled]="disableDenyButtonForSupportFeedback"
1293                   (click)="handleSaveApproveDeny(2)">Deny</button>
1294                 <button class="btn btn-sm btn-primary me-2" type="button" id="btnApprove"
1295                   [disabled]="disableApproveButtonForSupportFeedback" 
1296                   (click)="handleSaveApproveDeny(1)">Approve</button>
1297                 <button class="btn btn-sm btn-primary me-2" type="button" id="btnSave"
1298                   (click)="handleSaveApproveDeny(0)">Save</button>
1299               </div>
1300             </div>
1301           </ng-container>
1302           
1303           <ng-template #buttonsForGovernance>
1304             <div class="row">
1305               <div class="col-sm-4 righttxt">
1306                 <button class="btn btn-sm btn-primary btn-danger me-2" type="button" id="btnDeny"
1307                   (click)="handleSaveApproveDeny(2)">Deny</button>
1308                 <button class="btn btn-sm btn-primary me-2" type="button" id="btnApprove"
1309                   [disabled]="disableApproveButtonForGovernance" 
1310                   (click)="handleSaveApproveDeny(1)">Approve</button>
1311               </div>
1312             </div>
1313           </ng-template>
1314         </ng-container>
1315         
1316         <ng-template #buttonNonEditable>
1317           <div class="row">
1318             <div class="col-sm-4 righttxt">
1319               <button class="btn btn-sm btn-primary me-2"
1320                 (click)="redirectToLegacyAppHomeScreen()">Back</button>
1321             </div>
1322           </div>
1323         </ng-template>
1324       </div>
1325       
1326       <!-- Attachments Section -->
1327       <div class="col-md-6 body-content-2" style="margin-top: 10px;">
1328         <ng-container *ngIf="hasAttachments">
1329           <div class="text-left">
1330             <h5 class="p-3 m-0 attchment-Header pt-0">Attachments</h5>
1331           </div>
1332           <div class="col-md-12 px-3">
1333             <div>
1334               <p class="p-3 m-0 table-header-name">File Name</p>
1335             </div>
1336             <table class="attachmnetTable">
1337               <tbody>
1338                 <tr *ngFor="let attachment of supportGovernanceDetails?.AttachmentDetails" 
1339                     class="sfComp d-flex align-items-center;">
1340                   <span style="cursor: pointer;" (click)="downloadAttachment(attachment)">
1341                     <i id="download" class="pi pi-download"></i>
1342                   </span>
1343                   <td class="a-fileName">{{ attachment?.FileName }}</td>
1344                 </tr>
1345               </tbody>
1346             </table>
1347           </div>
1348         </ng-container>
1349       </div>
1350     </div>
1351   </form>
1352 </div>